header .Links{
    display: flex;
    height: 50px;
    margin: 0 20px;    
    float: right;

}
header .Links a{
 margin-right:10px ;

}
header .content{
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 90%;
}
header .content h1{
   line-height: 10px;
}
header .content svg{
    font-size: 30px;
    margin-top: 10px;
}
header .content .account{
   width: 70px;
   height: 70px;
   border-radius: 100%;
   border: 2px solid #111111;
   text-align: center;
   padding: 10px;
   cursor: pointer;
}
header .content .accountInfo ul{
 list-style: none;
 text-align: center;
 background: rgb(224, 224, 224);
 margin: 2px auto;
 z-index: 1000;
 position: relative;

}
header .content .accountInfo ul li{
 margin: 2px auto;
 padding: 5px;
 cursor: pointer;

}
.shoppingCartIconContainer{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.shoppingCartIconContainer div{
    transform: translate(35px,-40px);
    color: red;
}
